@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto', sans-serif;
    }
    :root {
        --text: #0f100f;
        --background: #f2f3f2;
        --background-200: #f6f7f6;
        --primary: #295e11;
        /* #3f7d23 800
        #4b8d2c 700
        #579f37 600
        #61ae3f 500
        #77ba5c 400
        #8ec679 300
        #aed5a0 200
        #cde6c4 100
        #eaf5e7 50 */
        --secondary: #4EB176;
        --accent: #E8EAEB;
        --hover: #2b4e1b;
        --hover-gray: #D8DBDC;
      }
}

@layer components {
    .box {
        @apply border border-gray-200 bg-light-background-200 rounded-md p-4 shadow-sm
    }
    .label {
        @apply block mb-1 hover:cursor-text;
    }
    .input {
        @apply block w-full p-2 rounded-md shadow-sm border border-gray-400 transition duration-200 ease-in
            bg-light-background-200 focus:outline-none focus:border-[#61ae3f] focus:ring-1 focus:ring-[#61ae3f];
    }
    .input-checkbox {
        @apply h-4 w-4 rounded border-gray-300 text-light-primary hover:cursor-pointer hover:border-light-primary focus:ring-offset-0 focus:ring-transparent
    }
    .input-error {
        @apply text-red-600 text-sm;
    }
    .btn-primary {
        @apply bg-light-primary text-white font-medium p-2 rounded-lg transition-colors duration-200 ease-in-out hover:bg-light-hover;
    }
    .btn-accent {
        @apply bg-light-accent font-medium p-2 rounded-lg transition-colors duration-200 ease-in-out hover:bg-light-hover-gray;
    }
    .text-accent {
        @apply text-light-text font-medium p-2 rounded-lg transition-colors duration-200 ease-in-out hover:bg-light-hover-gray
    }
    .btn-outline {
        @apply p-2 rounded-md border shadow-sm border-gray-300 hover:border-gray-400
    }
    .menu-icon {
        @apply mr-2 ml-1 h-5 w-5
    }
    .menu-item {
        @apply flex w-full items-center font-normal text-sm rounded-md px-2 py-2 hover:bg-light-hover-gray
    }
}